# raw and poisoned dataset
datasets/codesearch/

# python cache
__pycache__/

# dependency
tree-sitter-python-master/

# select trigger
utils/results/

*.log

# hf models
codebert-base/
codet5-base/
roberta-base/

models*/

# inference
src/results*/
*nohup*.out